.swiper {
    position: relative;
    width: 24rem;
    height: 16rem;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
  }
  
  .swiper-slide {
    position: relative;
    width: 13rem;
    margin-right: 5rem;
    height: 16rem;
    overflow: hidden;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: red;
  }
  .date {
    background: red;
    color: #fff;
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 2rem);
  }
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13rem;
    color: #fff;
    background: red;
    padding: 1rem 1rem;
  }
  @media screen and (max-width: 1366px) {
    .swiper {
      width: 23rem;
      height: 16rem;
      margin-bottom: 2rem;
      margin-right: 9rem;
    }
  }