  .swiper {
      position: relative;
      width: 20rem;
      height: 16rem;
      margin-bottom: 2rem;
    }


    .containerx{
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 3rem);
        height: 13rem;
        flex: 1;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        margin: 1.5rem;
    }
    
  .date {
    padding: 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  
