.qwe{
    display: flex;
    height: 70px;
    align-content: end;
    z-index: 1;
    position: fixed;
    right: 0;
    margin: 1rem;
}

.navbar {
    height: 70px;
    width: 11rem;
    border-radius: 100px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    color: #aaaaaa;
    background-color: #333;
    

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;

        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 2rem;
                position: relative;

                .icon {
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                .iconp {
                    font-size: 1.8rem;
                    cursor: pointer;
                }
            }
        }
    }
 

