button{
    border: none;
    background: none;
    font-family: Roboto;
}

.sidebar{
    flex: 1.25;
    border-right: 0.5px solid #333333;
    min-height: 100vh;
    background-color: #333333;

    .top{
        height: 65px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            width: auto;
            height: 3.5rem;
            cursor: pointer;
            border-radius: 10px;
        }
    }


    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                margin-bottom: 3px;
                cursor: pointer;

                &:hover{
                    background-color: #f76b00;
                }

                .icon{
                    font-size: 18px;
                    color: #aaaaaa;
                }

                span {
                    font-size: 13px;
                    font-weight: 600;
                    color: #aaaaaa;
                    margin-left: 10px;
                }
            }
        }
    }
} 